*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/scripts/news.json
/scripts/GB
/scripts/Timcast
/scripts/log
/scripts/__pycache__
news.json
/app/google-services.json
